{% extends "list/index.html" %}

{% block content %}
    <!--  <form class="md-form">
    <div class="file-field">
        <div class="btn btn-primary btn-sm float-left">
            <span>Choose file</span>
            <input type="file">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload your file">
        </div>
    </div>
  </form>

  <button type="submit" class="btn btn-primary" onclick="{{ standardization }}">Search</button> -->
    <h1>Estoy aquì </h1>
{% endblock %}
